.main {
  position: relative;
  font-family: 'Montserrat';
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 600px;
  gap: 20px;
  background-color: grey;
  opacity: .9;
  padding: 20px;
  color: white;
  border-radius: 35px;
}

.navbar div:first-child {
  flex: 1;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.left {
  /* width: 300px;
  height: 200px;
  border-radius: 100%;
  margin: 170px;
  position: relative;
  background-size: cover;
  display: block; */
}

.l-container {
  background-image: url('../../assets/r2.jpg');
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 170px;
  position: relative;
  background-size: cover;
  display: block;

}

.right {
  width: 100%;
  position: relative;
  overflow-y: scroll;

}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
}

.profile {
  display: none;
  justify-content: center;
}

.r-container {
  position: absolute;
  top: 130px;
  left: 0;
  margin: 0 60px;
  padding: 25px;
}

.head-icons {
  padding: 10px;
}

.head-icons svg {
  width: 10px;
  height: 10px;
}

.title {
  margin-top: 10px;
}

.subheading {
  color: #5a5858;
  font-family: 'Poppins';
  font-size: 13px;
}

.myself span {
  font-size: large;
}

.myself h1 {
  font-weight: bold;
}

.summary {
  margin-top: 20px;
  font-size: 14px;
}

.aboutme {
  margin-top: 20px;
}

.aboutme h3 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

.aboutme ul {
  margin-left: 20px;
  margin-top: 20px;
  color: #5a5858;
  font-size: 13px;
}

.services {
  margin-top: 30px;
}

.services h3 {
  font-weight: bold;
  /* margin-top: 20px; */
  font-family: 'Poppins', sans-serif;

}

.services h5 {
  margin-top: 20px;
  font-weight: 400;
  font-size: medium;
  font-family: 'Poppins', sans-serif;

}

.services p {
  font-size: 14px;
  margin-top: 10px;

}

.experience {
  margin-top: 30px;

}

.experience h3 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

.experience h4 {
  margin-top: 10px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

}

.experience ul {
  margin-left: 20px;
  margin-top: 20px;
  color: #5a5858;
  font-size: 13px;
}

.experience p {
  color: #5a5858;
  font-family: 'Poppins';
  font-size: 14px;

}

.education {
  margin-top: 30px;

}

.education ul {
  margin-left: 20px;
  margin-top: 20px;
  color: #5a5858;
  font-size: 13px;
}

.education p {
  font-size: smaller;
  font-family: 'Poppins', sans-serif;
  color: rgb(90, 88, 88);

}

.education h3 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

.education h4 {
  margin-top: 10px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

}

.blogs {
  margin-top: 30px;
}

.card {
  border: 1px solid red;
}

.card img {
  width: 260px;
  height: 160px;
}

.parallax p {
  font-size: smaller;
  font-family: 'Poppins', sans-serif;
}

.blog-items {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.blog-item {
  width: 290px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  /* align-items: center; */
  background-color: #c5c1c198;
  font-size: smaller;
  font-family: 'Poppins', sans-serif;
  color: rgb(90, 88, 88);
}

.blog-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.blog-item img {
  /* position: absolute; */
  width: 290px;
  height: 160px;
}

.blog-content {
  padding: 10px;
}

.blog-content * {
  margin-top: 10px;
}

.blog-btn {
  width: 80px;
  padding: 10px;
  background: #6c757d;
  border-radius: 10px;
}

.blog-content p {
  height: 100px;
}

.blog-content a {
  color: white;
  text-decoration: none;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
}

.blog-footer i {
  align-items: center;
  display: flex;
}



.skills {
  margin-top: 30px;
  /* position: ; */
}

.progress-bar-container:not(:last-child) {
  margin-bottom: 50px;
}

.progress-bar-container h2 {
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
}


.progress-bar {
  width: 400px;
  height: 10px;
  margin-top: 10px;
  border: 1px solid #565656;
  border-radius: 5px;
  background-color: grey;
  z-index: 1000;
}


.percentage {
  display: block;
  height: 100%;
  background-color: black;
  border-radius: 5px;
  animation: progress 2500ms ease-in 1;
}

.html {
  width: 85%;
}

.css {
  width: 75%;
}

.angular {
  width: 65%;
}

.bootstrap {
  width: 75%;
}

.typescript {
  width: 50%;
}

@media screen and (max-width: 1300px) {
  .left {
    /* display: none; */
    /* width: 70%; */
    /* width: 200px; */
    /* position: relative; */
  }
  .l-container{
    position: relative;;
  }

  .right {
    width: 100%;
  }

  .blog-items {
    display: block;
    position: relative;
  }

  .blog-item {
    row-gap: 10px;
    margin-top: 10px;
  }

  .progress-bar {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-content {
    width: 50%;
    left: 0;
    position: relative;

  }

  .left {
    position: relative;
    /* display: flex;
    width: 390px; */
    /* margin: 120px; */
  }
  .l-container{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 170px;
    display: block;
  }
}

@media screen and (max-width:800px) {
  .left {
    display: none;
    background-color: #565656;
  }

  .profile {
    display: flex;

  }

  .r-container {
    margin: 20px;
    top: 20px
  }

  .myself {
    margin-top: 30px;
  }

  .myself a {
    font-size: medium;
  }

  .navbar {
    display: none;
  }
}

@media screen and (max-width:350px) {
  .r-container {
    margin: 0 10px;
  }

}