<div class="main">
  <div class="navbar">
    <div class="navbar-content">
      <div class="navbtn">Muhammed Nihal</div>
      <div class="navbtn">About</div>
      <div class="navbtn">Service</div>
      <div class="navbtn">Resume</div>
    </div>
  </div>
  <div class="container">
    <div class="left"></div>
    <div class="right">
      <div class="r-container">

        <div class="myself">
          <h1 class="head-name">Muhammed</h1>
          <h1>Nihal
            <span class="head-icons">
              <a style="color: black;" href="https://www.mail.com/mohdniaal@gmail.com"><i title="Gmail" style="font-size: x-large;" class="fa fa-envelope"></i> </a>&nbsp;
              <a style="color: black;" href="https://www.instagram.com/m.niaal/"> <i title="Instagram" style="font-size: x-large;" class="fa fa-instagram"> </i></a>&nbsp;
              <a style="color: black;" title="Linkdin" style="font-size: x-large;"><i class="fa fa-linkedin-square"></i> </a> &nbsp;
              <a style="color: black;" href="https://github.com/mohdniaal"> <i title="Github" style="font-size: x-large;" class="fa fa-github"></i> </a>
            </span>
          </h1>
          <div class="title subheading">
            SOFTWARE DEVELOPER &nbsp; |&nbsp; WEB DEVELOPER &nbsp; |&nbsp; ANGULAR DEVELOPER
          </div>
          <div class="summary">
            An enterprising web developer, skilled in developing and deploying high
            quality applications in a single page (SPAs) using frameworks like Angular. Highly
            reliable resource with excellent analytical, communication and inter-personal skills.
          </div>
        </div>

        <div class="aboutme"></div>

        <div class="services"></div>

        <div class="experience"></div>

        <div class="skills"></div>

        <div class="education"></div>

        <div class="blogs"></div>

      </div>
    </div>
  </div>
</div>